.aboutcase {
  background: white;
  padding: 10rem;
  height: 100vh;
}

.aboutcase h1 {
  padding: 2.5rem;
}

.aboutcase-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.aboutcase .items {
  display: flex;
  flex: right;
  padding: 1rem;
}

.aboutcase .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.aboutcase .items .item i {
  padding: 1rem;
}

img {
  width: 350px;
  border: solid black 2px;
}