.aboutcase {
  background: white;
  padding: 10rem;
  height: 100vh;
}

.aboutcase h1 {
  padding: 1rem 0;
}

.aboutcase-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.aboutcase .items {
  display: flex;
  flex: right;
  padding: 1rem;
}

.aboutcase .items .item {
  flex: 1;
  padding: 1rem;
  line-height: 1.5;

}

.aboutcase .items .item i {
  padding: 1rem;
}

.aboutcase .items .item p {
  font-size: 1.25rem;
}

img {
  width: 350px;
  border: solid black 2px;
}