.homecase {
  color: white;
  background: url('../../assets/0.png') no-repeat center center/cover;
  height: 100vh;
}

.homecase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
  /*Overlay*/
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7)
}