.contactcase {
  background: url('../../assets/2.png') no-repeat center center/cover,
  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  background-blend-mode: overlay;
  height: 100vh;
}

.contactcase-content {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
}

.contactcase .items {
  display: flex;
  padding: 1rem;
}

.contactcase .items a {
  text-decoration: none;
  color: white;
}

.contactcase .items h3:hover {
  background: red;
  border-radius: 2rem;
}

.contactcase .items .item {
  flex: 1;
  text-align: center;
  padding: 10rem;
}

.contactcase .items .item i {
  padding: 1rem;
  cursor: pointer;
}