.navbar {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  background: black;
  color: white;
  z-index: 1;
  padding: 1rem 5rem;
}

.navcontent ul {
  padding: .6rem 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navbar .navcontent h2 {
  display: flex;
  float: left;
  color: white;
}

.navbar ul li a {
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #F9AC12;
}

.active {
  color: #F9AC12;
}